@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
}

/* Forest Gradients */
.forest-gradient-text{
  background: linear-gradient(to right, #004400, #006600, #228B22, #44AA44, #66CC66);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

a {
  background: linear-gradient(to right, #004400, #006600, #228B22, #44AA44, #66CC66);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
}

.logo {
  width: 50px;
  height: 50px;
}

.formula {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/*Making sure everything is properly adjusted (mainly for mobile)*/
/* Desktop */
.text-4x1-desktop {
  font-size: 4rem;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .text-4x1-mobile {
    font-size: 2rem;
  }
}
